@{
    ViewData["Title"] = "Новости";
}

<div class="text-center">
    <h1 class="display-4">Новости</h1>

    <a href="/Admin/CreateNews" class="btn btn-primary" role="button">Создать новость</a>

    <br />
    <hr />
    <br />

    <ul>
        @foreach (var item in Model)
        {
            <li>
                <span>@item.Title</span>
                <span>@item.Text</span>
                <span>@item.Date.ToString("yyyy.MM.dd HH:mm")</span>
                <span>@item.AuthorId</span>
                <span>@item.IsActive</span>
                <span>@item.CreateDate.ToString("yyyy.MM.dd HH:mm")</span>
            </li>
        }
    </ul>
</div>
